* {
  margin: 0;
  padding: 0;
}

.site {
  display: grid;
  grid-template-rows: auto 1fr 3fr;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 
    "title title title"
    "main header header"
    "main sidebar footer";
}


.masthead {
  grid-area: header;
  background-color: mediumslateblue;
}
.page-title {
  grid-area: title;
  background-color: lightskyblue;
}
.main-content {
  grid-area: main;
  background-color: greenyellow;
}
.sidebar {
  grid-area: sidebar;
  background-color: orange;
}
.footer {
  grid-area: footer;
  background-color: blue;
}
